---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Highly motivated and experienced Cloud Security Engineer and Web Application
    Penetration Tester with a passion for programming and DevSecOps. Proven
    track record of designing and implementing secure cloud architectures,
    identifying and remediating vulnerabilities, and integrating security
    practices into DevOps processes. Skilled in programming languages such as
    JavaScript, Python, Bash, PowerShell, and SQL. Dedicated to staying
    up-to-date with emerging threats and technologies, and committed to
    promoting a culture of security through collaboration and mentorship.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Cloud Security Engineer"
      subtitle="From Jan 2024 to date at Cybarik Limited, Essex, United Kingdom"
    >
      Collaborated with the security team to design and implement cloud security
      architecture for 3 projects, ensuring compliance with industry standards
      (CSA CCM) and achieving a 95% security compliance rate. Worked with the
      IAM team to configure and manage Identity and Access Management (IAM)
      solutions using Entra ID, ensuring secure authentication and authorization
      for 100+ users. Assisted in securing network infrastructure using VNets,
      NSGs, and WAFs, preventing unauthorized access and DDoS attacks, and
      reducing network security incidents by 20%. Contributed to implementing
      data encryption and protection using KMS, DLP, and AIP, ensuring sensitive
      data confidentiality and integrity for 10+ GB of data. Participated in
      infrastructure security assessments and remediation, identifying and
      mitigating 5+ security vulnerabilities. Applied OWASP Top 10 security
      principles to secure cloud applications, performing web application
      penetration testing and vulnerability assessments for 2+ applications.
      Collaborated with the DevOps team to set up security monitoring and
      logging using Azure Sentinel and Log Analytics, detecting and responding
      to security threats in real-time. Assisted in developing disaster recovery
      and business continuity plans, ensuring minimal downtime and data loss.
    </TimeLineElement>
    <TimeLineElement
      title="IT Technician"
      subtitle="From May 2022 to Jan 2024 at Kerzo Limited, Tema, Ghana"
    >
      Set up workstations efficiently, connecting computers and peripherals,
      with a turnaround time of under 30 minutes per station. Conducted regular
      hardware checks at least monthly to ensure proper function and early issue
      detection, resulting in minimal downtime. Installed and configured
      software with a 100% success rate, meeting specifications and ensuring
      compatibility. Maintained local networks for optimal performance,
      addressing issues within 24 hours of detection and ensuring 99% network
      uptime. Ensured security and privacy through regular updates,
      vulnerability assessments at least quarterly, and network monitoring.
      Provided user support and training, offering unlimited assistance via
      phone or in-person troubleshooting, with a 2-hour response time during
      working hours and a 95% user satisfaction rate. Scheduled and performed
      system upgrades and maintenance, troubleshooting and resolving technical
      issues, aiming for 99% system uptime.
    </TimeLineElement>
    <TimeLineElement
      title="Web Developer"
      subtitle="From Dec 2014 to Sep 2023 at Freelance, Remote"
    >
      As an IT technician, I resolved website issues, reducing errors by 95% and
      boosting user engagement by 30%. I designed responsive websites using
      HTML, CSS, TailwindCSS, JavaScript, NextJS, and ReactJS. By integrating
      APIs, I customized web solutions, enhancing user experience by 30%. I
      migrated sites to the Jamstack web stack, saving costs by 15% and
      increasing deployment efficiency by 40%. My work drove a 50% client growth
      and a 20% boost in conversions.
    </TimeLineElement>
    <TimeLineElement
      title="IT Techncian"
      subtitle="From Feb 2014 to Dec 2016 at Ferro Fabrik Limited, Tema, Ghana"
    >
      As an IT technician, I repaired faulty computers, reducing downtime by 95%
      and boosting productivity. I ensured 100% secure operations by combating
      virus infections, cutting cybersecurity threats by 80%. I configured
      printers and scanners, enhancing administrative efficiency by 30%. I
      expanded network connectivity between departments, boosting productivity
      by 200%. I improved stock accessibility by interconnecting networks,
      increasing productivity by 25%. I also led a CCTV installation initiative
      for enhanced security.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Training</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Cybersecurity Bootcamp"
      subtitle="March 2024 to April 2024 at Cyber Talents, Cairo, Egypt"
    />
    <TimeLineElement
      title="Cybersecurity Job Simulation"
      subtitle="March 2024 to March 2024 at Commonwealth Bank, Forage"
    />
    <TimeLineElement
      title="Computer Networking and Software Development"
      subtitle="2011 to 2012 at Advanced Information Technology Institute, Accra, Ghana"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        href="https://www.credly.com/badges/39830100-8b95-4984-b462-a6754a3f5732/public_url"
        target="_blank"
      >
        CompTIA Security+ ce Certification
      </a>
    </li>
    <li>
      <a
        href="https://www.credly.com/badges/05e802e4-756f-47ad-8a97-31c76a52a071/public_url"
        target="_blank"
      >
        Google Cybersecurity Certificate
      </a>
    </li>
    <li>
      <a
        href="https://www.credly.com/badges/dcdb8f8d-63b8-4a3b-971c-11b5e21f09b9/public_url"
        target="_blank"
      >
        Google IT Automation with Python Professional Certificate
      </a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Azure Cloud Platform (IaaS, PaaS, SaaS)</li>
    <li>Microsoft Entra ID (IAM)</li>
    <li>VNets, NSGsm WAFs</li>
    <li>KMS, DLP, AIP</li>
    <li>OWASP Top 10</li>
    <li>Azure Sentinel, Log Analytics</li>
    <li>AKS, ACR</li>
    <li>Azure Functions, Logic Apps</li>
    <li>JavaScript</li>
    <li>Python</li>
    <li>Bash</li>
    <li>PowerShell</li>
    <li>HTML & CSS</li>
  </ul>
</BaseLayout>
