---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Welcome 👋</div>
    <div class="text-5xl font-bold">I'm Mahmoud Shardey</div>
    <div class="text-3xl py-3 font-bold">
      Cloud Security Engineer | Azure Specialist
    </div>
    <div class="py-2">
      <text class="text-lg">
        Sharing 10+ years of IT expertise through Azure security tutorials and
        projects, from Entra ID best practices to secure cloud deployments.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://twitter.com/tetteis" target="_blank">
        Let's connect!</a
      >
      <!-- <a href="mailto:tettei@tetteis.com" class="btn btn-outline ml-5">
        Hire Me!
      </a> -->
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-5">Recent Security Posts</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }

  <div>
    <div class="text-3xl w-full font-bold mb-2 mt-10">
      Recent Security Projects
    </div>
  </div>

  <HorizontalCard
    title="Secure Nextcloud Deployment on Azure Cloud"
    img="https://plus.unsplash.com/premium_photo-1700830193301-99e1c863ee38?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    desc="Deploy a secure Nextcloud server on Azure with this step-by-step guide. Learn how to leverage Azure Virtual Machines, Network Security Groups, and Bastion for robust data security and collaboration."
    url="https://gist.github.com/mshardey/bc8f6117b39a626804f129c745dac733"
    badge="NEW"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Least Privilege Access: Linux File Permission Configuration"
    img="https://images.unsplash.com/photo-1629654297299-c8506221ca97?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    desc="Implemented least privilege access controls by configuring Linux file permissions, ensuring sensitive files and directories are accessible only to authorized users and processes."
    url="https://gist.github.com/mshardey/9609ba1f4387215b4c1e2aae23175419"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Analyse a Vulnerable System for an E-commerce Company"
    img="https://plus.unsplash.com/premium_photo-1681488350342-19084ba8e224?q=80&w=1988&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    desc="Conducted vulnerability assessment for an e-commerce company, identifying risks. Proposed remediation plans to proactively prevent attacks."
    url="https://gist.github.com/mshardey/05757c9f12d4f1d9c2aa6da946288e8c"
  />
  <div class="divider my-0"></div>
</BaseLayout>
