---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Tettei</div>
    <div class="text-3xl py-3 font-bold">Cloud Security Engineer</div>
    <div class="py-2">
      <text class="text-lg">
        A Cloud Security Engineer with a deep passion for DevSecOps. Let's
        secure the digital skies together! 🚀
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://twitter.com/tetteis" target="_blank">
        Let's connect!</a
      >
      <!-- <a href="mailto:tettei@tetteis.com" class="btn btn-outline ml-5">
        Hire Me!
      </a> -->
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Internal Security Audit for Botium Toys"
    img="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    desc="I performed an internal security audit for the fictional company Botium Toys. This project involved conducting comprehensive checks to identify potential threats, risks, or vulnerabilities that could affect the organisation’s business continuity and critical assets."
    url="https://gist.github.com/tetteis/ff69d108c973df8e6521f6f4b65b60cf"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Cybersecurity Incident Report: Network Traffic Analysis"
    img="https://images.unsplash.com/photo-1551703599-2a53f65da7e7?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    desc="I analysed DNS and ICMP traffic using tcpdump to produce an incident report. My role involved identifying the network protocol used in the cybersecurity incident."
    url="https://gist.github.com/tetteis/11b7c0d7e6495319e4a680cb9e9dacb6"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Incident Handler's Journal"
    img="https://plus.unsplash.com/premium_photo-1683491155621-cd42e847d646?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    desc="In cybersecurity, keeping records is very important. An incident handler’s journal, like the one we created during the Google Cybersecurity course, is essential for noting key details about security incidents as they happen. This journal helps security professionals quickly recall important concepts and tools."
    url="https://gist.github.com/tetteis/523fefa9b18ec33c17112b9b0c3eedf5"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
