---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Cloud Security</div>

    <HorizontalCard
      title="Secure Nextcloud Deployment on Azure Cloud"
      img="https://plus.unsplash.com/premium_photo-1700830193301-99e1c863ee38?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      desc="Deploy a secure Nextcloud server on Azure with this step-by-step guide. Learn how to leverage Azure Virtual Machines, Network Security Groups, and Bastion for robust data security and collaboration."
      url="https://gist.github.com/mshardey/bc8f6117b39a626804f129c745dac733"
      badge="NEW"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
      title="Analyse a vulnerable system for an e-commerce company"
      img="https://plus.unsplash.com/premium_photo-1681488350342-19084ba8e224?q=80&w=1988&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      desc="Conducted vulnerability assessment for an e-commerce company, identifying risks. Proposed remediation plans to proactively prevent attacks."
      url="https://gist.github.com/mshardey/05757c9f12d4f1d9c2aa6da946288e8c"
    />

    <div class="divider my-0"></div>

    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">
        Incident Response and Analysis
      </div>
    </div>
    <HorizontalCard
      title="Cybersecurity Incident Report: Network Traffic Analysis"
      img="https://images.unsplash.com/photo-1551703599-2a53f65da7e7?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      desc="Analyzed DNS and ICMP traffic using tcpdump to investigate a simulated cybersecurity incident. Successfully identified network protocols and crafted a detailed incident report, showcasing proficiency in network traffic analysis."
      url="https://gist.github.com/mshardey/11b7c0d7e6495319e4a680cb9e9dacb6"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
      title="Cybersecurity Incident Report: Analyze Network Attacks"
      img="https://plus.unsplash.com/premium_photo-1670402130476-25aa8c1986c9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      desc="Investigated a website accessibility issue, determining the attack vector and impact. Applied problem-solving skills to propose mitigation and prevention strategies."
      url="https://gist.github.com/mshardey/42457b897c4135e6d811bcab0a518a8f"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
      title="Security Incident Report"
      img="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      desc="Resolved a website security issue by analyzing DNS and HTTP traffic logs with tcpdump. Identified connection protocols and recommended brute-force attack prevention measures."
      url="https://gist.github.com/mshardey/8d854a722cdd5982c19c73767ff27902"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
      title="Incident Report Analysis"
      img="https://plus.unsplash.com/premium_photo-1687157829884-fae305709c06?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      desc="Utilized the National Institute of Standards and Technology's Cybersecurity Framework (NIST CSF) to analyze a network incident. Demonstrated understanding of incident response best practices."
      url="https://gist.github.com/mshardey/9660782633934be65537b9a63c8a07c5"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
      title="Incident Handler's Journal"
      img="https://plus.unsplash.com/premium_photo-1683491155621-cd42e847d646?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      desc="Developed an incident handler's journal to document key details about security incidents. Demonstrated understanding of incident response best practices."
      url="https://gist.github.com/mshardey/523fefa9b18ec33c17112b9b0c3eedf5"
    />
    <div class="divider my-0"></div>

    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">
        Security Assessments and Audits
      </div>
    </div>
    <HorizontalCard
      title="Internal Security Audit for Botium Toys"
      img="https://images.unsplash.com/photo-1554224155-1696413565d3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      desc="Conducted a comprehensive internal security audit for Botium Toys, demonstrating expertise in identifying potential threats and vulnerabilities. Utilized industry-standard methodologies to assess business continuity and critical asset risks."
      url="https://gist.github.com/mshardey/ff69d108c973df8e6521f6f4b65b60cf"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
      title="Security Risk Assessment Report"
      img="https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      desc="Conducted a security risk assessment for a social media company following a simulated data breach. Identified vulnerabilities, recommended network hardening tools, and proposed remediation methods."
      url="https://gist.github.com/mshardey/b79695a77251a694cb20609673d45628"
    />

    <div class="divider my-0"></div>

    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">
        System Administration and Development
      </div>
    </div>
    <HorizontalCard
      title="Least Privilege Aaccess: Linux File Permission Configuration"
      img="https://images.unsplash.com/photo-1629654297299-c8506221ca97?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      desc="Implemented least privilege access controls by configuring Linux file permissions, ensuring sensitive files and directories are accessible only to authorized users and processes."
      url="https://gist.github.com/mshardey/9609ba1f4387215b4c1e2aae23175419"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
      title="Apply Filters to SQL Queries Enhancing System Security"
      img="https://plus.unsplash.com/premium_photo-1679823827204-4b58963de7cf?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      desc="Improved system security by investigating potential issues and applying SQL filters. Demonstrated proficiency in SQL query optimization."
      url="https://gist.github.com/mshardey/eac2a0204766a17e92d5c2f37a656689"
    />
  </div>
</BaseLayout>
