---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Tools/div></div>

    <HorizontalCard
      title="Internal Security Audit for Botium Toys"
      img="https://images.unsplash.com/photo-1554224155-1696413565d3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      desc="I performed an internal security audit for the fictional company Botium Toys. This project involved conducting comprehensive checks to identify potential threats, risks, or vulnerabilities that could affect the organisation’s business continuity and critical assets."
      url="https://gist.github.com/tetteis/ff69d108c973df8e6521f6f4b65b60cf"
      badge="NEW"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
      title="Cybersecurity Incident Report: Network Traffic Analysis"
      img="https://images.unsplash.com/photo-1551703599-2a53f65da7e7?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      desc="I analysed DNS and ICMP traffic using tcpdump to produce an incident report. My role involved identifying the network protocol used in the cybersecurity incident."
      url="https://gist.github.com/tetteis/11b7c0d7e6495319e4a680cb9e9dacb6"
    />

    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Projects Header</div>
    </div>

    <HorizontalCard
      title="Cybersecurity Incident Report: Analyze Network Attacks"
      img="https://plus.unsplash.com/premium_photo-1670402130476-25aa8c1986c9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      desc="I investigated a security issue where a customer experienced difficulties accessing our company's website. I provided a detailed explanation of how the attack occurred and its impact on the website."
      url="https://gist.github.com/tetteis/42457b897c4135e6d811bcab0a518a8f"
      badge="FOSS"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
      title="Security Incident Report"
      img="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      desc="I investigated and resolved a security issue affecting visitors to the website. Using tcpdump and analysing DNS and HTTP traffic logs, I identified the connection protocol and documented the incident timeline. I proposed a security measure to prevent future brute-force attacks, enhancing our organization’s overall security."
      url="https://gist.github.com/tetteis/8d854a722cdd5982c19c73767ff27902"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
      title="Security Risk Assessment Report"
      img="https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      desc="I analysed a data breach at a social media company caused by undetected vulnerabilities. I identified common network hardening tools to improve the company's security, selected a specific vulnerability, and proposed various hardening methods. I then explained how these methods and tools would manage the vulnerability and prevent future breaches."
      url="https://gist.github.com/tetteis/b79695a77251a694cb20609673d45628"
    />
    <HorizontalCard
      title="Incident Report Analysis"
      img="https://plus.unsplash.com/premium_photo-1687157829884-fae305709c06?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      desc="I analysed a network incident using the National Institute of Standards and Technology’s Cybersecurity Framework (NIST CSF). Based on this thorough examination, I crafted an incident report. The NIST CSF provides voluntary standards, guidelines, and best practices for managing cybersecurity risks."
      url="https://gist.github.com/tetteis/9660782633934be65537b9a63c8a07c5"
    />
    <HorizontalCard
      title="File Permissions in Linux"
      img="https://images.unsplash.com/photo-1629654297299-c8506221ca97?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      desc="I contributed to a project aimed at enhancing system security at my organization. The primary goal was to update file permissions for specific files and directories within the projects directory to mitigate potential security risks. My responsibilities included ensuring the permissions aligned with the desired level of authorization."
      url="https://gist.github.com/tetteis/9609ba1f4387215b4c1e2aae23175419"
    />
    <HorizontalCard
      title="Apply Filers to SQL Queries"
      img="https://plus.unsplash.com/premium_photo-1679823827204-4b58963de7cf?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      desc="Our organisation actively improved its system security, and I was responsible for ensuring its safety. My tasks included investigating potential security issues and updating employee computers when necessary. The steps below provide examples of how I used SQL with filters to perform security-related tasks."
      url="https://gist.github.com/tetteis/eac2a0204766a17e92d5c2f37a656689"
    />
    <HorizontalCard
      title="Analyse a vulnerable system for an e-commerce company"
      img="https://plus.unsplash.com/premium_photo-1681488350342-19084ba8e224?q=80&w=1988&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      desc="In this activity, I performed a vulnerability assessment for an e-commerce company, identifying risks related to a vulnerable information system and proposing a remediation plan. As a cybersecurity analyst, my role includes helping with these assessments to proactively prevent attacks within the organization."
      url="https://gist.github.com/tetteis/05757c9f12d4f1d9c2aa6da946288e8c"
    />
    <HorizontalCard
      title="Incident Handler's Journal"
      img="https://plus.unsplash.com/premium_photo-1683491155621-cd42e847d646?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      desc="In cybersecurity, keeping records is very important. An incident handler’s journal is essential for noting key details about security incidents as they happen. This journal helps security professionals quickly recall important concepts and tools."
      url="https://gist.github.com/tetteis/523fefa9b18ec33c17112b9b0c3eedf5"
    />
  </div>
</BaseLayout>
